body{
    background-color: #121212;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
  color: #28df99;
  font-family: Monospace;
  font-size: 40px
}

h3 {
  color: #f4f4f4;
  font-family: Monospace;
  font-size: 22px

}

h4 {
  color: #D26BCC;
  font-family: Monospace;
  font-size: 12px

}

.menu {
    display:flex;
    margin: 5px;
    width: auto;
    height: 50px;
    background-color: #121212;
    flex-flow: row; wrap;
    text-align: center;
    justify content: space-between;

}

.footer {
    margin: 5px;
    width: auto;
    height: 10px;
    background-color: #121212;
    text-align: center;
    position: relative;
    padding: 30px;
}


.container {
    display:flex;
    width: auto;
    height: auto;
    background-color: #121212;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-flow: row; wrap;
    text-align: center

}

.container2 {
    display:flex;
    width: auto;
    height: auto;
    background-color: #121212;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-flow: row; wrap;
    text-align: center

}


.account {
    background-color: #121212;
    box-shadow: 0 0 10px #f6f7d4;
    width: 400px;
    height: auto;
    margin: 15px;
    border-radius: 15px;
    padding: 7px;
    text-align: center
}

.position {
    background-color: #121212;
    box-shadow: 0 0 10px #73FFFB;
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    text-align: center
}

.details {
    background-color: #121212;
    box-shadow: 0 0 10px #73FFFB;
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    text-align: center
}



