<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel='icon' href='/static/favicon.ico' type='image/x-icon'/ >

    <script type="text/javascript">
    function loadref(time)
    {
    setTimeout("location.reload(true) ;",time) ;
    }
    </script>


    <title>Crypto Tracker</title>


</head>
<body onload="Javascript:loadref(15000)">


    <div class="menu">

    </div>

    <div class="container">

        <div class="account">
            <h2> {{nickname1}} </h2>
            <h3> BALANCE &nbsp; &nbsp; &nbsp; &nbsp; ${{today}}</h3>
            <h3> TODAY'S PNL &nbsp; &nbsp; &nbsp; ${{pnl}}</h3>
            <h3> TODAY'S % &nbsp; &nbsp; &nbsp; &nbsp; {{daily}}%</h3>
        </div>
        <div class="account">
            <h2> {{nickname2}} </h2>
            <h3> BALANCE &nbsp; &nbsp; &nbsp; &nbsp; ${{today2}}</h3>
            <h3> TODAY'S PNL &nbsp; &nbsp; &nbsp; ${{pnl2}}</h3>
            <h3> TODAY'S % &nbsp; &nbsp; &nbsp; &nbsp; {{daily2}}%</h3>
        </div>
        <div class="account">
            <h2> {{nickname3}} </h2>
            <h3> BALANCE &nbsp; &nbsp; &nbsp; &nbsp; ${{today3}}</h3>
            <h3> TODAY'S PNL &nbsp; &nbsp; &nbsp; ${{pnl3}}</h3>
            <h3> TODAY'S % &nbsp; &nbsp; &nbsp; {{daily3}}%</h3>
        </div>

    </div>

    <div class="container2">
        <div class="account">
            <h2> {{nickname4}} </h2>
            <h3> BALANCE &nbsp; &nbsp; &nbsp; &nbsp; ${{today4}}</h3>
            <h3> TODAY'S PNL &nbsp; &nbsp; &nbsp; ${{pnl4}}</h3>
            <h3> TODAY'S % &nbsp; &nbsp; &nbsp; &nbsp; {{daily4}}%</h3>
        </div>
        <div class="account">
            <h2> {{nickname5}} </h2>
            <h3> BALANCE &nbsp; &nbsp; &nbsp; &nbsp; ${{today5}}</h3>
            <h3> TODAY'S PNL &nbsp; &nbsp; &nbsp; ${{pnl5}}</h3>
            <h3> TODAY'S % &nbsp; &nbsp; &nbsp; &nbsp; {{daily5}}%</h3>

        </div>
        <div class="account">
            <h2> {{nickname6}} </h2>
            <h3> BALANCE &nbsp; &nbsp; &nbsp; &nbsp; ${{today6}}</h3>
            <h3> TODAY'S PNL &nbsp; &nbsp; &nbsp; ${{pnl6}}</h3>
            <h3> TODAY'S % &nbsp; &nbsp; &nbsp; &nbsp; {{daily6}}%</h3>
        </div>


    </div>

    <div class="footer">
        <form action="https://github.com/CryptoGnome/Crypto-Tracker">
            <input type="submit" value="Visit Github" />
        </form>
    </div>

</body>




</html>