<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel='icon' href='/static/favicon.ico' type='image/x-icon'/ >

    <script type="text/javascript">
    function loadref(time)
    {
    setTimeout("location.reload(true) ;",time) ;
    }
    </script>


    <title>Bot Tracker</title>


</head>
<body onload="Javascript:loadref(500000)">


    <div class="menu">

    </div>

    <div class="container2">


        <div class="chart">
            <h2> ACCOUNT #1 </h2>
            <h3> TOTAL BALANCE :$ {{today}}</h3>
            <h3> TODAY PNL: $ {{pnl}}</h3>
            <h3> TODAY %: {{daily}}</h3>

            <h2> ACCOUNT #2 </h2>
            <h3> TOTAL BALANCE :$ {{today2}}</h3>
            <h3> TODAY PNL: $ {{pnl2}}</h3>
            <h3> TODAY %: {{daily2}}</h3>





        </div>


    </div>

</body>




</html>